<%= form_for(@asset, :html => { :multipart => true, :id => 'upload' }) do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <label for="asset_file">File</label>
  <%= f.file_field :file, :size => 15 %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
